<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/cardinal-master/cardinal.min.css" />
    <title>{% block title %}Blota{% endblock %}</title>
    <script type="text/x-mathjax-config">
    MathJax.Ajax.config.path["Contrib"] = "//cdn.mathjax.org/mathjax/contrib";
    MathJax.Hub.Config({
        TeX: {
            extensions: ["AMSmath.js", "AMSsymbols.js", "extpfeil.js", "autobold.js", "[Contrib]/xyjax/xypic.js"],
        },
    });
    </script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
{% if rand_q %}
    <div class="dn">\({{ rand_q.file.preamble|safe }}
        \newcommand{\lt}{&lt;}
        \newcommand{\gt}{&gt;}
        \newcommand{\amp}{&amp;}\)</div>
    <p class="h3 mt0">{{ rand_q|safe|fix_ampersands }}</p>
    <div class="dn h3 mt0" id="answer-box">{{ rand_q.answer|safe|fix_ampersands }}</div>
    <a id="answer" title="Answer" class="js-version btn btn-primary md-one-third">Answer</a>
    <br />
    <a id="skip" href="" title="Skip question" class="js-version btn btn-secondary md-one-third">Skip</a>
    <script type="text/javascript">
    $("#answer").on("click", function() {
        $("#answer-box").toggleClass("dn");
        $("#answer").html("Next");
        $("#answer").off().on("click", function() {
            location.reload();
        });
    });
    </script>
{% else %}
    <p>No questions are available.</p>
{% endif %}
</body>
</html>
